<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.blog.tags.mapper.TagsMapper">
    
    <resultMap type="Tags" id="TagsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="classifyId"    column="classifyId"    />
    </resultMap>

    <sql id="selectTagsVo">
        select id, name, status,classifyId from blog_tags
    </sql>

    <select id="selectTagsList" parameterType="Tags" resultMap="TagsResult">
        <include refid="selectTagsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTagsById" parameterType="Long" resultMap="TagsResult">
        <include refid="selectTagsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTags" parameterType="Tags">
        insert into blog_tags
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="status != null ">status,</if>
            <if test="classifyId != null ">classifyId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="status != null ">#{status},</if>
            <if test="classifyId != null ">classifyId,</if>
         </trim>
    </insert>

    <update id="updateTags" parameterType="Tags">
        update blog_tags
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="classifyId != null ">classifyId = #{classifyId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTagsById" parameterType="Long">
        delete from blog_tags where id = #{id}
    </delete>

    <delete id="deleteTagsByIds" parameterType="String">
        delete from blog_tags where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>